
.main-header-content{
    background: #E8ECEF;
    display: flex;
    gap: 5rem;
    justify-content: center;
    text-align: center;
    padding: 35px;
}

.main-header-left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2.2rem;
}

.main-header-left h2{
    font-family: 'Montserrat';
font-style: normal;
    width: 288px;
height: 183px;
 font-weight: 700;
font-size: 50px;
line-height: 61px;
color: #333333;
}
.main-header-left p{
width: 288px;
height: 51px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #838383;

}
.main-header-left button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 18px 35px;
gap: 10px;
width: 250px;
height: 58px;
color: #ffffff;
background: #48C4A0;
box-shadow: 0px 4px 4px #48C4A0;
border-radius: 8px;
}
.main-header-right img{
width: 562px;
height: 530px;
padding-top: 1px;
mix-blend-mode: multiply;
}

/*categories */

.categories-head{
    display: flex;
    gap: 2rem;
    font-family: 'Montserrat';
    margin-top: 2rem;
    margin-bottom: 2rem;
color: #838383;
}
.categories-head span{
    color: #48C4A0;
}
.fan-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 2rem;
    gap: 2rem;
    text-align: left
   ;
}
.categories-container img{
    width: 180px;
height: 180px;
color: #F5F5F5;
border: 2px solid #F5F5F5;
border-radius: 8px;
mix-blend-mode: multiply;
}
.fan-content h6{
    color: #838383;
}
.fan-content p{
    font-weight: 700;
}

.categories-container button{
padding: 18px 35px;
gap: 5px;
color: white;
width: 179px;
height: 50px;
background: #48C4A0;
border-radius: 8px;
font-size: 15px;
margin-top: 1.5rem;
}
/*discount*/
.discount-container{
background: #F4F5F7;
margin-bottom: 4rem;
margin-top: 5rem;
}
.discount-wrapper{
    display: flex;
    gap: 1rem;
}
.discount-left {
color: #333333;
padding: 65px;
display: flex;
flex-direction: column;
gap: 1rem;
text-align: left;
}
.discount-left small{
color: #48C4A0;
} 
.discount-right img{
    mix-blend-mode: multiply;
}.discount-right .small{
    width: 304px;
    height: 317px;
}
.discount-right .big{
    width: 250px;
    height: 255px;
    position: absolute;
    left: 750px;
}
.discount-right{
    display: flex;
    padding-top: 2rem;
    width: 200px;
    height: 300px;
   
  };
.arrival{
margin-top: 8rem;
}
.arrival-head1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    margin: 2rem;
    align-items: left;
    justify-content: flex-start;
    color: #838383;
}  
.arrival-head1 h3{
    font-size: 1.5rem;
  
}
.text{
    display: flex;
    gap: 3.5rem;
    text-align: left;
} 
 span{
    font-weight: 700;
}
ul img{
    width: 180px;
    height: 180px;
background: #F5F5F5;
mix-blend-mode: multiply;
border: 0.2px solid transparent;
background: #F5F5F5;
object-fit: cover;
}
.new-categories-container{
margin-top: 5rem;
}
.new-categories-wrapper img{
    mix-blend-mode: multiply;
    width: 180px;
    height: 180px;
    object-fit: cover;
}
 .new-categories-wrapper{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    text-align: left;
} 
.new-left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.new-left h3{
    font-size: 2rem;
    color: #838383;
}
.new-left .btn{
    gap: 10px;
    color: #48C4A0;
    width: 179px;
    height: 50px;
    background: #F5F5F5;
    border-radius: 8px;
    font-size: 15px;
}
.new-left small{ 
font-family: 'Montserrat';
font-style: normal;
color: #4F4F4F;
}
.new-right{
    display: grid;
}
.fans-fan .price{
    font-weight: 700;
}
/* partners */
.partners-container{
    margin-top: 3rem;
margin-bottom: 5rem;
}
.partners-wrapper{
    display: flex;
    gap: 6rem;
}
 .first{
    display: flex;
    flex-direction: row;
}
.partners-wrapper .logo{
width: 56.01px;
height: 51px;
}
.partners-wrapper .partner1{
width: 204.2px;
height: 51px;
}
.partners-wrapper .partner2{
width: 252.5px;
height: 74px;
}
.partners-wrapper .partner3{
    width: 222.2px;
    height: 83px;
}
@media screen and (max-width: 600px){
    .main-header-right{
        display: none;
    }
    .categories-container img{
        width: 115px;
        height: 115px;
    }
    .categories-head{
        font-size: 1rem;
    }
    .fan-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 5px;
        align-items: flex-start;
    }
  
    .discount-left{
        font-size: 1rem;
        padding-left: 45px;
    }

    .new-categories-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        justify-content: center;
    }
    .new-categories-wrapper h4{
        font-size: 2rem;
    }
    .partners-wrapper{
        display: none;
    }
    .discount-right{
        display: none;
    }
     .text{
           display: grid;
            grid-template-columns: 1fr;
        } 
        .arrival-head1{
            display: grid;
            grid-template-columns: 1fr;
        }
        .arrival-head1 h3{
            font-size: 1.5rem;
        }
       
    }

    


   

