.footer-container{
background: #48C4A0;
}
.footer-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    padding: 50px;
}
.footer-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
}
.footer-socials{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
.footer-socials a{
    color: white;
}
.footer-content h4{

color: #FFFFFF;

}
.footer-content h5, .h5{
color: #FFFFFF;
}
.footer-copyright small{
    font-size: 0.8rem;
}
.footer-copyright{
color: #FFFFFF;

}
@media screen and (max-width: 600px){
    .footer-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        
    }
}