.nav-container{
    display: flex;
    background: #FFFFFF;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}
.navbar-wrapper{
    display: flex;
    gap: 4.5rem;
    padding: 2rem;
    padding-left: 7rem;
    align-items: center;
   
    
}
.logo{
color: #48C4A0;
display: block;
}

.nav-wrapper{
display: flex;
gap: 2.5rem;
align-items: center;
color: black;
}

.search-wrapper{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.search{
padding: 8px 35px;
width: 216px;
height: 38px;
align-items: center;
border: 1px solid #333333;
border-radius: 8px;

}
.search-icon{
    position: absolute;
    left: 637px;
    top: 42px;
}
.nav-icons{
display: flex;
gap: 2rem;
align-items: center;
color: #48C4A0;
width: 92px;
height: 30px;
}
.nav-toggle{
    display: none;
}
@media screen and (max-width: 600px){

    .nav-links, .search-wrapper{
        display: none;
    }
    .nav-toggle{
        display: flex;
        background: transparent;
        font-size:1rem ;
        cursor: pointer;
        color: gray;
    }
    .show-nav{
        display: flex;
    }
    .hide-nav{
        display: none;
    }
    .nav-icons{
        display: flex;
        gap: 1rem;
    }
   
}