*, *::before, *::after{
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
  overflow-x: hidden;
}
.container{
  width: 80%;
  max-width: 1920px;
  margin-inline: auto;
}
h1 h2 h3 h4 h5 h6 small{
  line-height: 1.2;
  color: gray;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2rem;
}
small{
  font-size: 1rem;
}
img{
  display: block;
  object-fit: cover;
  width: 100%;
}
.card{
  width: 250px;
height: 278px;
background: #F5F5F5;
border-radius: 8px;
padding-top: 20px;
padding-left: 25px;
text-align: left;
justify-content: center;
object-fit: cover;
}
@media screen and (max-width: 600px){

  .container{
    width: 90%;
  }
}
